*{
    margin: 0;
    padding: 0;
}
.nav1{
    display: flex;
    justify-content: space-between;
    background-color: #2b2c2c;
    color: white;
    position: sticky;
}
.nav1 select{
    background-color: #2b2c2c;
    border: none;
    color: aliceblue;
    margin-top: 5px;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
    padding-right: 10px;
}
.nleftsection{
    display: flex;
}
.nlefttextsection{
    display: grid;
    padding-left: 10px;
    padding-top: 8px;
}
.nrightsection{
    display: flex;
}
.store,.contactus,.login{
    display: flex;
    font-size: 12px;
    font-weight: 700;
}
.store,.contactus,.login,.heart,.bag{
    padding-right: 20px;
    padding-left: 10px;
}
.store,.contactus,.login,.heart{
    border-right: 1px solid white;
}
.nrightsection span{
    margin-top: 10px;
    margin-left: 10px;
}
.nrightsection img{
    padding-top: 5px;
}
.store:hover{ 
    color: yellow;
}
.contactus:hover{
    color: yellow;
}
.login:hover{
    color: yellow;
}
.nav2{
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    background-color:white;
    /* width: 100vw; */
}
.n1mainlogo {
    margin-left: 65px;
    padding-top: 11px;
    /* padding-bottom: 13px; */
}
.n1search{
    width: 220px;
    height: 50px;
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 6px;
}
.n1delivery{
    background-color: #FFDF00;
    border-radius: 30px;
    width: 200px;
    height: 45px;
    margin-top: 20px;
}
.n1deliveryimg{
    height: 35px;
    width: 35px;
    /* background-color: aquamarine; */
    margin-top: 4px;
    margin-left: 10px;
}
.n1options{
    font-size: 14px;
    color: #0E3051;
    padding-top: 30px;
    font-family: Cabin;
    font-weight: 500;
}
.n1options span{
    padding-left: 10px;
}
.product:hover{
    text-decoration: underline red;
    font-weight: 700;
}
.newarr:hover{
    text-decoration: underline red;
    font-weight: 700;
}
.spesi:hover{
    text-decoration: underline red;
    font-weight: 700;
}
.wedst:hover{
    /* text-decoration: underline red; */
    font-weight: 700;
}
.gifc:hover{
    /* text-decoration: underline red; */
    font-weight: 700;
}
.sa:hover{
    text-decoration: underline red;
    font-weight: 700;
}
section{
    /* background-color: white; */
    background-color: #FFDF00;
    color: #2b2c2c;
    width: 600px;
    /* visibility: hidden; */
}
.sec1{
    display: flex;
    /* background-color: #FFDF00; */
    justify-content: space-between;
    padding-top: 20px;
}
.sec1 li{
    list-style: none;
}
section{
    position: absolute;
    width: 100%;
}
.secstore li{
    list-style: none;
    padding-top: 10px;
    padding-right: 40px;
    font-size: 14px;
}
.secstore{
    display: flex;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    gap: 20px;
    width: 58vw;
}
.product:hover ~ .secstore1{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.spesi:hover ~ .secstore2{
    visibility: visible;
    opacity: 1;
    height: 430px;
}
.ro-pg1{
    display: flex;
    /* background-color: #FFDF00; */
    width: 90%;
    height: 250px;
    margin: auto;
    justify-content: space-between;
    padding-top: 20px;
}
.rpt{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #0e3051;
    font-weight: 500;
}
.con1{
    width: 100vw;
    height: 200px;
    background-color: #fff6d7;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.con112{
    width: 105px;
    height: 24px;
    /* background-color: #FFDF00; */
    border: .5px dashed;
    border-radius: 5px;
    text-align: center;padding-top: 8px;
    font-size: 14px;
}
.smbrk{
    width: 80vw;
    height: 50px;
    background-color: #2b2c2c;
    margin: auto;
}
.scon1{
    height: 70px;
    width: 800px;
    margin: auto;
    /* background-color: #FFDF00; */
    text-align: center;
}
.pgcon1{
    width: 85vw;
    height: 450px;
    /* background-color: #0e3051; */
    margin: auto;
    display: flex;
}
.pc1t{
    width: 570px;
    height: 280px;
    background-color: #FEFBEA;
    z-index: 3;
    margin-top: 90px;
}
.pctfl1{
    display: flex;
    justify-content: space-around;
}
.pctfl2{
    display: flex;
    justify-content: space-around;
}
.pc1t1{
    width: 400px;
    height: 50px;
    font-size: 28px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.pc1tt{
    background-color: white;
    color: #0E3051;
    height: 45px;
    width: 163px;
    text-align: center;
    font-size: 16px;
    /* font-weight: 700; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 10px;
    padding-top: 20px;
}
.c2{
    background-image: url("./images/bg-image/bg-img-1.jpg");
    width: 100vw;
    height: 440px;
    background-repeat: no-repeat;
}
.c2-1{
    height: 300px;
    width: 500px;
    background-color: #FFDF00;
    border-radius: 10px;
    margin-left: 54%;
    padding-left: 50px;
    padding-top: 50px;
    
}
.c2btn{
    width: 300px;
    height: 90px;
    margin: auto;
}
.c2-1 button{
    height: 45px;
    width: 240px;
    background-color: #0E3051;
    color: #FFDF00;
    border-radius: 10px;
}
.refer{
    width: 100vw;
    height: 100px;
    background-color: #0E3051;
}
.srefer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 95px;
    width: 50vw;
}
.referbtn{
    height: 45px;
    width: 136px;
    background-color: #FFDF00;
    border-radius: 5px;
}
.scon2{
    width: 100vw;
    height: 140px;
    background-color: #FFDF00;
}
.scon21{
    display: flex;
    justify-content: space-between;
    height: 140px;
    width: 60vw;
    /* background-color: antiquewhite; */
    margin: auto;
}
.scon22 span{
    font-size: 28px;
    color: #0E3051;
}
.scon22{
    margin-top: 40px;
}
.scon2in{
    width: 350px; 
    height: 50px; 
    border-radius: 10px; 
    background-color: #FFDF00;
    padding-left: 5px;
}
.viewproducts{
    width: 420px;
    height: 90px;
    margin: auto;
}
.viewprobtn{
    width: 420px;
    height: 80px;
    background-color: #0E3051;
    margin: auto;
    color: white;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    border-radius: 8px;
}
.shipping{
    width: 90vw;
    height: 100px;
    /* background-color: #FFDF00; */
    margin: auto;
    display: flex;
}
.shipbox{
    height: 80px;
    width: 340px;
    /* background-color: aqua; */
    margin: auto;
    text-align: center;
}
.rulelist{
    width: 85vw;
    margin: auto;
}
.rulelist li{
    list-style: none;
}
.rules{
    width: 85vw;
    /* background-color: #FFDF00; */
    margin: auto;
}